<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,0},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,80},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10028</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10029</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10030</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10031</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10032</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10033</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10034</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10035</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,160},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10036</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10037</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10038</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10039</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10040</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10041</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10042</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10043</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10044</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10045</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10046</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10047</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,240},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10048</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10049</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10050</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10051</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10052</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10053</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10054</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10055</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10056</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10057</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10058</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10059</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,320},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10060</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10061</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10062</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10063</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10064</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10065</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10066</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10067</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10068</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10069</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10070</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10071</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,400},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10072</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10073</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10074</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10075</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10076</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10077</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10078</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10079</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10080</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10081</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{729,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10082</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{810,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10083</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{891,480},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10084</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10085</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{81,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10086</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{162,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10087</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{243,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10088</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{324,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10089</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{405,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10090</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{486,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10091</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{567,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Symbol 1 instance 10092</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,80}</string>
				<key>spriteSourceSize</key>
				<string>{81,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{648,560},{81,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>blue_02_80x80.png</string>
				<key>textureFileName</key>
				<string>blue_02_80x80</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
